<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821316160866-qog8a2nchp4jmoeo29116ns2bvgaoosm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821316160866-qog8a2nchp4jmoeo29116ns2bvgaoosm</string>
	<key>API_KEY</key>
	<string>AIzaSyAj_WKGYsaYgzP-RZvtq0wjVnMfaP-Dwz0</string>
	<key>GCM_SENDER_ID</key>
	<string>821316160866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sarthak.mapd724.MAPD724-Assignment2-part1</string>
	<key>PROJECT_ID</key>
	<string>ios-assignment-hahaha</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-assignment-hahaha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821316160866:ios:bcf05e4cca2c97af8db03b</string>
</dict>
</plist>